.container {
    vertical-align: middle;
    color: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
}

.profile-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

@media only screen and (min-width: 769px) {
    .container {
        font-size: 1rem;
    }

    .profile-img {
        width: 3rem;
        height: 3rem;
    }
}