.nav-menu-container {
    width: 300px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-menu li a {
    font-size: 0.8rem;
    color: var(--accent-color);
}

@media only screen and (max-width: 750px) {
    .nav-menu-container {
        display: none;
    }
}