.nav {
    width: 180px;
    background-color: black;
    position: fixed;
    top: 70px;
    right: -300px;
    transition: all 0.5s;
    z-index: 3;
}

.open-nav{
    width: 180px;
    background-color: black;
    position: fixed;
    top: 70px;
    right: 0;
    transition: all 0.5s;
    z-index: 3;
}

.inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inner ul li {
    border-bottom: 1px solid #FEF2B2;
}

.inner ul li a {
    display: block;
    text-decoration: none;
    color: #FEF2B2;
    padding: 1rem;
}

.inner ul li a:hover {
    background-color: rgb(54, 54, 54);
}

@media only screen and (min-width: 768px) {
    .nav, .open-nav {
        display: none;
    }
}