.toggle-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.burger-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #FEF2B2;
    transition: all 0.5s;
    border-radius: 4px;
}

.toggle-btn span:nth-child(1) {
    top: 4px;
}

.toggle-btn span:nth-child(2) {
    top: 14px;
}

.toggle-btn span:nth-child(3) {
    bottom: 4px;
}

.open-toggle-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    z-index: 3;
    cursor: pointer;
}

.open-toggle-btn span {
    background-color: #FEF2B2;
}

.open-toggle-btn span:nth-child(1) {
    transform: translateY(0.9rem) rotate(315deg);
}

.open-toggle-btn span:nth-child(2) {
    display: none;
}

.open-toggle-btn span:nth-child(3) {
    transform: translateY(0.9rem) rotate(-315deg);
}

@media only screen and (min-width: 768px) {
    .toggle-btn, .open-toggle-btn {
        display: none;
    }
}